:root {
    // text
    --text: hsl(0, 0%, 20%);
    --text-light-1: hsl(0, 0%, 47%);
    --text-light-2: hsl(0, 0%, 65%);
    --text-light-3: hsl(0, 0%, 67%);

    // social
    --behance: hsl(219, 100%, 55%);
    --pinterest: hsl(353, 92%, 39%);
    --linkedin: hsl(210, 90%, 40%);
    --github: hsl(0, 2%, 9%);

    // primary
    --primary: hsl(39, 96%, 90%);
    --primary-dark: hsl(39, 81%, 52%);
    --primary-light: hsl(40, 92%, 95%);

    // blobs
    --blob-1: hsl(203, 84%, 90%);
    --blob-2: hsl(268, 52%, 89%);
    --blob-3: hsl(225, 82%, 93%);

    // misc
    --skill-icon: hsl(30, 50%, 99%);
}