@use "./colors";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button,
input {
  font-family: inherit;
  &:focus {
    outline: none;
  }
}

.redApp {
  --primary: hsl(var(--hue-1), 96%, 90%);
  --primary-dark: hsl(var(--hue-1), 97%, 75%);
  --primary-light: hsl(var(--hue-1), 92%, 95%);
}

.blueApp {
  --primary: hsl(var(--hue-2), 96%, 90%);
  --primary-dark: hsl(var(--hue-2), 97%, 75%);
  --primary-light: hsl(var(--hue-2), 92%, 95%);
}

.purpleApp {
  --primary: hsl(var(--hue-3), 96%, 90%);
  --primary-dark: hsl(var(--hue-3), 97%, 75%);
  --primary-light: hsl(var(--hue-3), 92%, 95%);
}

.greenApp {
  --primary: hsl(var(--hue-4), 96%, 90%);
  --primary-dark: hsl(var(--hue-4), 97%, 75%);
  --primary-light: hsl(var(--hue-4), 92%, 95%);
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100vw;
  }
}
