@use '../styles/shared';

.container {
  padding: 32px 10%;
  min-height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.leftSide {
  & > h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text);
  }

  & > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 80px;
    color: var(--text);
  }

  & > h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-light-2);
    font-style: italic;
  }
}

.card {
  color: var(--text);
  position: relative;
  @extend %glassmorph;
  margin-bottom: 80px;

  & > p {
    max-width: 70%;
    margin-bottom: 32px;
    font-size: 1.2rem;
    & > strong {
      font-weight: 600;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -60px;
    right: 32px;
    width: 120px;
    height: 120px;
    border: 5px solid var(--white);
    border-radius: 60px;
    background: url(../assets/images/selfPic.jpg);
    background-size: cover;
    background-position: center;
  }
}

.location,
.codingTools,
.designTools {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text);

  & > svg {
    fill: var(--text-light-1);
    margin-right: 8px;
  }
}

.codingTools,
.designTools {
  margin-bottom: 8px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
