@use '../styles/shared' as *;

.container {
  padding: 32px 10%;
  min-height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 0.9fr 1fr;
  gap: 64px;
  margin-bottom: 90px;
}

.leftSide {
  & > h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text);
    @include popFromLeftWithDelay(200ms);
  }

  & > h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 112px;
    color: var(--text-light-1);
    @include popFromLeftWithDelay(250ms);
  }
}

.card {
  position: relative;
  @extend %glassmorph;
  @include popFromLeftWithDelay(350ms);
  color: var(--text);

  & > p {
    max-width: 70%;
    margin-bottom: 32px;
    font-size: 1.2rem;
    & > strong {
      font-weight: 600;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -60px;
    right: 32px;
    width: 120px;
    height: 120px;
    border: 5px solid var(--white);
    border-radius: 60px;
    background: url(../assets/images/selfPic.jpg);
    background-size: cover;
    background-position: center;
    transform: scale(0);
    animation: scaleUp 1 0.3s ease-in 370ms forwards;
  }
}

.location,
.codingTools,
.designTools {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text);

  & > svg {
    fill: var(--text-light-1);
    margin-right: 8px;
  }
}

.codingTools,
.designTools {
  margin-bottom: 8px;
}

.rightSide {
  position: relative;
  display: grid;
  place-items: center;
}

.scrollTip {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-light-2);
  font-style: italic;
  @include popWithDelay(1500ms);
  margin-top: 80px;
}

.blobBg {
  width: 360px;
  height: auto;
  position: absolute;
  z-index: -1;
  bottom: -64px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.disappear {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    gap: 32px;
    margin-bottom: 128px;
  }

  .scrollTip {
    display: none;
  }

  .card {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 64px;
  }

  .leftSide {
    & > h1 {
      font-size: 2rem;
    }

    & > h2 {
      font-size: 1rem;
    }
  }

  .card {
    & > p {
      font-size: 1rem;
    }

    &::after {
      width: 90px;
      height: 90px;
      border-radius: 45px;
    }
  }

  .location,
  .codingTools,
  .designTools {
    font-size: 0.7rem;
    & > svg {
      width: 20px;
      height: auto;
    }
  }
}
