@use '../styles/shared';

.container {
  @extend %lane;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--primary-dark);
  color: var(--white);
}

.toolsUsed {
  font-size: 0.8rem;
  & a {
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.endNote {
  font-size: 1rem;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    text-align: left;
  }
}
