@use '../styles/shared';

@mixin fadeInStartWithDelay($delay) {
  opacity: 0;
  transform: translateY(16px);
  transition: all ease-out 0.5s $delay;
}

.container {
  position: relative;
  margin-bottom: 96px;

  & > span {
    @include fadeInStartWithDelay(0.3s);
    z-index: -1;
    position: absolute;
    top: -60%;
    left: -80px;
    font-weight: bold;
    font-size: 180px;
    color: var(--primary-light);
  }
}

.content {
  @extend %glassmorph;
  @include fadeInStartWithDelay(0s);

  & > h2 {
    font-size: 2rem;
    color: var(--text);
    font-weight: 600;
  }

  & > h1 {
    font-weight: 400;
    color: var(--text-light-1);
    margin-bottom: 16px;
  }

  & > p {
    color: var(--text);
  }
}

.appearRules {
  opacity: 1;
  transform: translateY(0px);
}

.appear {
  & > div {
    @extend .appearRules;
  }

  & > span {
    @extend .appearRules;
  }
}
