.container {
  position: relative;
  margin-bottom: 96px;

  & > h2 {
    font-size: 2rem;
    color: var(--text);
    font-weight: 600;
  }

  & > h1 {
    font-weight: 400;
    color: var(--text-light-1);
    margin-bottom: 16px;
  }

  & > p {
    color: var(--text);
  }

  & > span {
    position: absolute;
    top: -80%;
    left: -120px;
    font-weight: bold;
    font-size: 180px;
    color: var(--primary-light);
  }
}
