.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  & > img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
  }

  & > svg {
    position: absolute;
    fill: var(--white);
    max-height: 500px;
    width: auto;
  }
}

.intro {
  margin: 0 96px;
  & h1 {
    color: var(--text-light-1);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 16px;
  }
  & .role {
    margin-bottom: 24px;
  }
  & .role h2 {
    color: var(--text);
    font-size: 3.5rem;
    font-weight: 600;
  }
}

.links {
  position: absolute;
  bottom: 60px;
  left: 96px;

  display: grid;
  grid-template-columns: repeat(4, 50px);

  & svg {
    height: 26px;
    width: auto;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  & > a:nth-of-type(1) > svg {
    fill: var(--behance);
  }

  & > a:nth-of-type(2) > svg {
    fill: var(--pinterest);
  }

  & > a:nth-of-type(3) > svg {
    fill: var(--linkedin);
  }

  & > a:nth-of-type(4) > svg {
    fill: var(--github);
  }
}

.reactIcon {
  top: 4.43%;
  right: 4%;
  height: 180px;
}

.vsCodeIcon {
  top: 24.94%;
  right: 22%;
  height: 100px;
}

.angularIcon {
  top: 41.57%;
  right: 4%;
  height: 80px;
}

.vueIcon {
  top: 58.2%;
  right: 14%;
  height: 60px;
}

.figmaIcon {
  top: 69.29%;
  right: 20%;
  height: 120px;
}

.svelteIcon {
  top: 83.14%;
  right: 5%;
  height: 60px;
}
