@use '../styles/shared' as *;

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.skillsBg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  animation: skillsBgAnim 1.5s ease-in-out 1 forwards;
}

.intro {
  position: relative;
  z-index: 3;
  margin: 0 96px;
  & h1 {
    color: var(--text-light-1);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 16px;
    @include popFromLeftWithDelay(0.2s);
  }

  & .role {
    margin-bottom: 24px;
    @include popFromLeftWithDelay(0.5s);
  }

  & .role h2 {
    color: var(--text);
    font-size: 3.5rem;
    font-weight: 600;
  }

  & .exploreBtn {
    @include popFromLeftWithDelay(0.8s);
  }
}

.links {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  left: 96px;

  display: grid;
  grid-template-columns: repeat(4, 50px);

  @include popWithDelay(1.1s);

  & svg {
    height: 26px;
    width: auto;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  & > a:nth-of-type(1) > svg {
    fill: var(--behance);
  }

  & > a:nth-of-type(2) > svg {
    fill: var(--pinterest);
  }

  & > a:nth-of-type(3) > svg {
    fill: var(--linkedin);
  }

  & > a:nth-of-type(4) > svg {
    fill: var(--github);
  }
}

.reactIcon,
.vsCodeIcon,
.vueIcon,
.svelteIcon,
.figmaIcon,
.angularIcon {
  position: absolute;
  z-index: 1;
  fill: var(--white);
  max-height: 500px;
  width: auto;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.reactIcon {
  top: 4.43%;
  right: 4%;
  height: 180px;
  @include popWithDelay(1.6s);
}

.vsCodeIcon {
  top: 24.94%;
  right: 22%;
  height: 100px;
  @include popWithDelay(1.7s);
}

.angularIcon {
  top: 41.57%;
  right: 4%;
  height: 80px;
  @include popWithDelay(1.8s);
}

.vueIcon {
  top: 58.2%;
  right: 14%;
  height: 60px;
  @include popWithDelay(1.9s);
}

.figmaIcon {
  top: 69.29%;
  right: 20%;
  height: 120px;
  @include popWithDelay(2s);
}

.svelteIcon {
  top: 83.14%;
  right: 5%;
  height: 60px;
  @include popWithDelay(2.1s);
}

@keyframes skillsBgAnim {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@media screen and (max-width: 880px) {
  .skillsBg {
    display: none;
  }

  .reactIcon,
  .vsCodeIcon,
  .vueIcon,
  .svelteIcon,
  .figmaIcon,
  .angularIcon {
    fill: var(--primary-light);
  }

  .reactIcon {
    top: 4%;
  }

  .vsCodeIcon {
    top: 20%;
    right: 60%;
  }

  .angularIcon {
    top: 40%;
    right: 14%;
  }

  .vueIcon {
    right: 34%;
  }

  .figmaIcon {
    right: 55%;
  }

  .svelteIcon {
    top: 80%;
    right: 14%;
  }
}

@media screen and (max-width: 600px) {
  .links {
    bottom: 32px;
    left: 32px;
  }

  .intro {
    margin: 0 32px;

    & h1 {
      font-size: 1.5rem;
    }

    & .role h2 {
      font-size: 2rem;
    }
  }

  .reactIcon {
    height: 120px;
  }

  .vsCodeIcon {
    height: 80px;
  }

  .angularIcon {
    top: 34%;
    height: 60px;
  }

  .vueIcon {
    height: 40px;
  }

  .figmaIcon {
    height: 100px;
  }

  .svelteIcon {
    height: 40px;
  }
}
