.container {
  display: flex;
  align-items: center;
  color: var(--text);
  margin-bottom: 48px;

  & h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  & > svg {
    fill: var(--primary);
    margin-right: 48px;
    height: 40px;
    width: auto;
  }
}

.details {
  max-width: 300px;
}
