.container {
  display: flex;
  align-items: center;
  color: var(--text);
  margin-bottom: 64px;
  position: relative;

  & h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.icon {
  z-index: 1;
  & > svg {
    fill: var(--white);
    margin-right: 40px;
    height: 32px;
    width: auto;
  }
}

.details {
  max-width: 300px;
  & > h1 {
    margin-bottom: 2px;
  }
}

.blob {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: -20px;
  height: 80px;
  width: auto;
  & > path {
    fill: var(--primary-dark);
  }
}

@media screen and (max-width: 600px) {
  .icon {
    & > svg {
      height: 24px;
    }
  }
  .blob {
    height: 72px;
  }

  .container {
    & h1 {
      font-size: 1rem;
    }
    margin-bottom: 48px;
  }

  .line {
    font-size: 0.8rem;
  }

  .details {
    max-width: 200px;
  }
}
