@use '../styles/shared';

.container {
  @extend %glassmorph;
  border-radius: 20px;
  min-width: 240px;
  margin-right: 60px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);
  display: grid;
  place-items: center;
  margin-bottom: 32px;

  svg {
    fill: var(--primary-dark);
  }
}

.details {
  color: var(--text);
  h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 1rem;
    font-weight: 400;
  }
}
