.container {
  perspective: 500px;
  position: relative;
  width: calc(240px + 60px); // 240px - card width, 60px - buffer
  overflow: hidden;
}

.keypoints {
  height: 300px;
  position: relative;
  border-radius: 20px;
}

.animateSlide {
  animation: cardSlide 4s ease-in-out;
}

@keyframes cardSlide {
  0% {
    transform: translateX(300px) rotateY(0deg);
  }

  10%,
  90% {
    transform: translateX(0px) rotateY(0deg);
  }

  20%,
  80% {
    transform: translateX(0px) rotateY(-18deg);
  }

  100% {
    transform: translateX(-300px) rotateY(0deg);
  }
}
