.container {
  position: relative;
  width: calc(240px + 60px); // 240px - card width, 60px - buffer
  overflow: hidden;
}

.keypoints {
  display: flex;
  animation: initialScroll infinite 5s ease-in-out;
}

@keyframes initialScroll {
  0% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
  }
}
