@use '../styles/shared';

.container {
  @extend %lane;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--mail-section);
  color: var(--text);

  & > h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  & > h2 {
    font-size: 3rem;
    margin-bottom: 32px;
  }
}
