@use '../styles/shared' as *;

.container {
  @extend %glassmorph;
  @include popWithDelay(1200ms);
  padding: 16px 32px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  position: fixed;
  top: 16px;
  right: 16px;

  & > a {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-light-2);
    & > svg {
      display: none;
      fill: var(--text-light-2);
    }

    &:hover {
      color: var(--text-light-1);
      & > svg {
        fill: var(--text-light-1);
      }
    }
  }
}

.current {
  color: var(--primary-dark) !important;
  & > svg {
    fill: var(--primary-dark) !important;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    left: unset;
    top: unset;
    right: 0;
    bottom: 30vh;
    border-radius: 32px 0 0 32px;
    border-color: var(--primary-dark);
    padding: 16px 8px;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    & > a {
      justify-self: center;
      font-size: 0.8rem;

      & > span {
        display: none;
      }

      & > svg {
        display: block;
      }
    }
  }
}
