@use '../styles/shared';

.container {
  display: flex;
  align-items: center;
  margin-bottom: 64px;

  & > img {
    height: 360px;
    width: auto;
    @extend %picShadow;
    border-radius: 10px;
  }
}

.proDetails {
  width: 400px;
  margin-right: 64px;

  & > h1 {
    font-size: 2rem;
    color: var(--text);
    font-weight: 600;
  }

  & > h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-light-1);
    margin-bottom: 16px;
  }

  & > p {
    margin-bottom: 32px;
  }
}
