@use '../styles/shared';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;

  & > img {
    height: 360px;
    width: auto;
    @extend %picShadow;
    border-radius: 10px;
  }

  & > svg {
    position: absolute;
    z-index: -1;
    bottom: -88px;
    right: -10px;
    height: auto;
    width: 240px;
  }
}

.proDetails {
  width: 400px;
  margin-right: 64px;

  & > h1 {
    font-size: 2rem;
    color: var(--text);
    font-weight: 600;
  }

  & > h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-light-1);
    margin-bottom: 16px;
  }

  & > p {
    margin-bottom: 32px;
  }
}
