@use "../styles/shared";

.tools {
  @extend %lane;
  margin-bottom: 96px;
}

.type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-items: center;
  margin-bottom: 32px;
}

.tech {
  font-size: 1.2rem;
  color: var(--text-light-1);
  transition: color 0.3s;

  &:hover {
    color: var(--text);
  }
}
